	#titu{font-family:arial;
			font-size:40px;
				color:white;}
			p{font-family:verdana;
					font-size:30px;
						color:white;}
							body{background-image:url(wallpaperblack.png);}
								ul li{font-family:arial;font-size:25px;font-color:#ffffff;}
